

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3e3d3f;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a{color: #fff;}
#sidebar a:hover{text-decoration: none}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e65221;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #b93e14;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #282828;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #282828;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #e65221;
    color: #fff;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.botonMenu{
    padding: 1rem;
    display: inline-block;
    position: absolute;
    cursor: pointer;

}

.botonMenu i{
    color:#fff;
    font-size: 1.5rem;
}

.desactivado, .desactivado:hover{
    color: #615f5f !important;
    background-color:  #3e3d3f !important;
}

.terminado{
    color: #e6522f !important;
}

.terminado:hover{
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    .botonMenu{
        padding: 1rem;
        display: inline-block;
        position: relative;
        
    }

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}